.container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--zIndex-menu);
	height: 100%;
	width: min(calc(100% - 3rem), 400px);

	background-color: var(--color-surface);
	box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.16);
	animation: slideAnim 0.1s ease reverse;
}
.bg {
	position: fixed;
	top: 0;
	right: 0;
	z-index: var(--zIndex-menu);
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.65;
	animation: opacityAnim 0.1s ease reverse;
}

.closeButton {
	position: absolute;
	top: 0;
	right: 0;
	z-index: var(--zIndex-menu);
	width: 48px;
	height: 48px;
	border: none;
	cursor: pointer;
	background-color: initial;
	svg {
		color: var(--color-onPrimaryMedium);
	}
}

@keyframes opacityAnim {
	to {
		opacity: 0;
	}
}
@keyframes slideAnim {
	to {
		transform: translateX(-100%);
	}
}
